@import 'fontsize';
@import 'keyframes';
@import 'mixin';
@import 'function';
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
li,
ol {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}
html{
    width: 375px;
    height: 100%;
}
body {
    width: 375px;
    height: 100%;
     font-family: "Helvetica Neue",
     Helvetica,
     Arial,
     sans-serif;
}

