@import 'fontsize';
@import 'keyframes';
@import 'mixin';
@import 'function';
// @import 'reset';
html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
     font-family: "Helvetica Neue",
     Helvetica,
     Arial,
     sans-serif;
}

