.icon{
  width: 16px;
  height: 16px;
}
.icon-service{
  background: url('~@/assets/images/icon/icon-service.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-top{
  width: 50px;
  height: 50px;
  background: url('~@/assets/images/icon/icon-news-more.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-transfer-sus{
  width: 60px;
  height: 60px;
  background: url('~@/assets/images/icon/icon-transfer-sus.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-account{
  background: url('~@/assets/images/icon/icon-account.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-pwd{
  background: url('~@/assets/images/icon/icon-pwd.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-yz{
  background: url('~@/assets/images/icon/icon-yz.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-search{
  background: url('~@/assets/images/icon/icon-search.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-arrow-right{
  width: 8px;
  height: 12px;
  background: url('~@/assets/images/icon/icon-arrow-right.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}
.icon-right{
  width: 8px;
  height: 12px;
  background: url('~@/assets/images/icon/icon-right.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.icon-db-btm{
  width: 12px;
  height: 8px;
  background: url('~@/assets/images/icon/icon-db-btm.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  right: 20px;
  top: 15px;
}




