//  import 'keyframes'

 position-center-center($position=absolute) 
    position  $position
    top  50%
    left  50%
    transform  translate(-50%, -50%)

 position-left-center($position=absolute,$left=20px) 
    position  $position
    top  50%
    left  $left
    transform  translate(0%, -50%)

 position-right-center($position=absolute, $right=20px) 
    position  $position
    top  50%
    right  $right
    transform  translate(0%, -50%)

 position-center-top($position=absolute,$top=20px) 
    position  $position
    top  $top
    left  50%
    transform  translate(-50%, 0%)

 position-center-bottom($position=absolute, $bottom=20px) 
    position  $position
    bottom  $bottom
    left  50%
    transform  translate(-50%, 0%)

 flex-start-start 
    display  flex
    justify-content  start
    align-items  flex-start


 flex-start-center 
    display  flex
    justify-content  start
    align-items  center


 flex-start-end 
    display  flex
    justify-content  start
    align-items  flex-end


 flex-center-start 
    display  flex
    justify-content  center
    align-items  flex-start


 flex-center-center 
    display  flex
    justify-content  center
    align-items  center


 flex-center-end 
    display  flex
    justify-content  center
    align-items  flex-end


 flex-end-start 
    display  flex
    justify-content  flex-end
    align-items  flex-start


 flex-end-center 
    display  flex
    justify-content  flex-end
    align-items  center


 flex-end-end 
    display  flex
    justify-content  flex-end
    align-items  flex-end


 flex-between-start 
    display  flex
    justify-content  space-between
    align-items  flex-start


 flex-between-center 
    display  flex
    justify-content  space-between
    align-items  center


 flex-between-end 
    display  flex
    justify-content  space-between
    align-items  flex-end


 flex-around-start 
    display  flex
    justify-content  space-around
    align-items  flex-start


 flex-around-center 
    display  flex
    justify-content  space-around
    align-items  center


 flex-around-end 
    display  flex
    justify-content  space-around
    align-items  flex-end


 placeholder($color=#999999) 
    input  -webkit-input-placeholder 
        color  $color
    input  -moz-placeholder 
        /* Mozilla Firefox 19+ */
        color  $color
    input -moz-placeholder 
        /* Mozilla Firefox 4 to 18 */
        color  $color
    input -ms-input-placeholder 
        /* Internet Explorer 10-11 */
        color  $color
    


 img-box-cover($bg_color=#eeeeee) 
    background  $bg_color
    overflow  hidden
    position  relative
    img 
        display  block
         include position-center-center
        width  100%
        height  100%
        object-fit  cover
        &[lazy=error],
        &[lazy=loading] 
            width  auto
            height  auto
        
    


 textOver 
    white-space  nowrap
    text-overflow  ellipsis
    overflow  hidden

 pointer 
    cursor  pointer

 arrow-right($width=6px, $right=10px, $border_width=1px, $color=#333, $deg=45deg) 
    position  relative
    .arrow 
        content  ""
        position  absolute
        right  $right
        top  50%
        width  $width
        height  $width
        background-color  transparent
        border-top  $border_width solid $color
        border-right  $border_width solid $color
        transform  translate(0%, -50%) rotate($deg)
        transition  transform 0.3s
    

 arrow-left($width=6px, $left=10px, $border_width=1px, $color=#333, $deg=-135deg) 
    position  relative
    .arrow 
        content  ""
        position  absolute
        left  $left
        top  50%
        width  $width
        height  $width
        background-color  transparent
        border-top  $border_width solid $color
        border-right  $border_width solid $color
        transform  translate(0%, -50%) rotate($deg)
        transition  transform 0.3s
    

 arrow-top($width=6px, $top=10px, $border_width=1px, $color=#333,$deg=-45deg) 
    position  relative
    .arrow 
        content  ""
        position  absolute
        left  50%
        top  $top
        width  $width
        height  $width
        background-color  transparent
        border-top  $border_width solid $color
        border-right  $border_width solid $color
        transform  translate(-50%, 0) rotate($deg)
        transition  transform 0.3s
    

 arrow-bottom($width=6px, $bottom=10px, $border_width=1px, $color=#333, $deg=135deg) 
    position  relative
    .arrow 
        content  ""
        position  absolute
        left  50%
        bottom  $bottom
        width  $width
        height  $width
        background-color  transparent
        border-top  $border_width solid $color
        border-right  $border_width solid $color
        transform  translate(-50%, 0) rotate($deg)
        transition  transform 0.3s
    

 icon-arrow-transition 
    transition  transfrom 0.3s

 icon-arrow-rotate($deg) 
    transform  rotate($deg)

//移动端1px问题
 border1px($type, $color=#e7e7e7) 
    position  relative
    & before 
        content  ''
        position  absolute
        box-sizing  border-box
        left  0
        top  0
        width  200%
        height  200%
        z-index  -1

         if $type=='bottom' 
            border-bottom  1px solid $color
        

         else if $type=='top' 
            border-top  1px solid $color
        

         else if $type=='left' 
            border-left  1px solid $color
        

         else if $type=='right' 
            border-right  1px solid $color
        

         else 
            border  1px solid $color
        

        transform  scale(0.5)
        transform-origin  left top
        background  transparent
    

// 文本溢出省略号显示 (默认1行)
 ellipsis($line= 1) 
     if $line==1 
        -ms-text-overflow  ellipsis
        text-overflow  ellipsis
        overflow  hidden
        white-space  nowrap
     else 
        display  -webkit-box !important
        -ms-text-overflow  ellipsis
        text-overflow  ellipsis
        overflow  hidden
        word-break  break-all // 断词
        -webkit-box-orient  vertical
        -webkit-line-clamp  $line
    

 triangle($direction= top, $borderWidth= 6px, $borderColor=rgb(42, 42, 42)) 
    display  inline-block
    height  0
    width  0
     if $direction==top 
        border-top  $borderWidth solid $borderColor
        border-left  $borderWidth solid transparent
        border-right  $borderWidth solid transparent
    

     else if $direction==right 
        border-right  $borderWidth solid $borderColor
        border-top  $borderWidth solid transparent
        border-bottom  $borderWidth solid transparent
    

     else if $direction==bottom 
        border-bottom  $borderWidth solid $borderColor
        border-left  $borderWidth solid transparent
        border-right  $borderWidth solid transparent
    

     else if $direction==left 
        border-left  $borderWidth solid $borderColor
        border-top  $borderWidth solid transparent
        border-bottom  $borderWidth solid transparent
    

 boxshadow($hshadow=0, $vshadow=0, $blur=10px, $spread=10px, $color=#000, $inset=inset) 
     if $inset !=inset 
        -webkit-box-shadow  $hshadow $vshadow $blur $spread $color $inset
        -moz-box-shadow  $hshadow $vshadow $blur $spread $color $inset
        -ms-box-shadow  $hshadow $vshadow $blur $spread $color $inset
        -o-box-shadow  $hshadow $vshadow $blur $spread $color $inset
        box-shadow  $hshadow $vshadow $blur $spread $color $inset
        color  red
    

     else 
        -webkit-box-shadow  $hshadow $vshadow $blur $spread $color
        -moz-box-shadow  $hshadow $vshadow $blur $spread $color
        -ms-box-shadow  $hshadow $vshadow $blur $spread $color
        -o-box-shadow  $hshadow $vshadow $blur $spread $color
        box-shadow  $hshadow $vshadow $blur $spread $color
    

 bg-cover($url) 
    background-image url($url)
    background-repeat  no-repeat
    width 100%
    height 100%
    background-size cover



