$font_size_base = 1rem
$color_main = #ff7958
$btn_bg_main = linear-gradient(90deg,rgba(255,176,145,1) 0%,rgba(255,120,88,1) 100%)
ykd-type-font()
    color #333333
    font-size font-size-base*0.36
    font-weight medium 
    height 0.5rem
    line-height 0.5rem
    letter-spacing -0.01rem
ykd-max-money-font()
    color #333333
    font-size font-size-base*0.66
    font-weight bold
    height 0.76rem
    line-height 0.76rem
    letter-spacing 0.01rem
ykd-desc-font(color=#999999,letter_spacing=-0.01rem)
    color color
    font-size $font_size_base*0.24
    letter-spacing letter_spacing
    height 0.3rem
    line-height 0.3rem
btn-main(width=3.2rem,height=0.7rem,font_size=0.3)
    font-size $font_size_base*font_size
    width width
    height height
    background btn-bg-mian
    color #ffffff
    border-radius height*0.5
recent-money()
    color #030303
    font-size $font_size_base*0.44
    font-weight bold
    height 0.52rem
    line-height 0.52rem
    letter-spacing -0.01rem

jump-font(color=#333333)
    color color 
    font-size $font_size_base*0.28
    height 0.4rem
    line-height 0.4rem
    letter-spacing 0.01rem
loan-list-title-font(letter_spacing=-0.01rem)
    font-size $font_size_base*0.36
    color #403e3e
    height 0.44rem
    line-height 0.44rem
    letter-spacing letter_spacing
title-tip()
    background $color_main
    width 0.08rem
    height 0.32rem
    border-radius 0.04rem
loan-item-money-font()
    font-size $font_size_base*0.32
    color #1a1a1a
    height 0.4rem
    line-height 0.4rem
    letter-spacing -0.01rem
dialog-text-font()
    font-size $font_size_base*0.28
    color #999999
    line-height 0.4rem
current-title-font()
    font-size $font_size_base*0.28
    color #333333
    height 0.34rem
    line-height 0.34rem
    letter-spacing -0.01rem
    font-weight medium
current-money-font()
    font-size $font_size_base*0.52
    font-weight bold
    color #333333
    letter-spacing -0.01rem
    height 0.64rem
    line-height 0.64rem
repay-list-tap-font()
    color #999999
    font-size $font_size_base*0.3
    height 0.42rem
    line-height 0.42rem
    letter-spacing -0.01rem
repay-list-item-first-line-font()
    color #333333
    font-size $font_size_base*0.28
    height 0.34rem
    line-height 0.34rem
    letter-spacing: -0.01rem
note-detail-font()
    color #333333
    font-size $font_size_base*0.3
    height 0.4rem
    line-height 0.4rem
    letter-spacing -0.01rem






